<div class="container-fluid vh-100 d-flex justify-content-center align-items-center user">
  <div class="form-user px-5 pt-5 pb-3">
    <%= image_tag "logo.png", class: "w-100 pb-4" %>
    <p class="fs-2 fw-bold text-center mb-0">Log in</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
      <div class="field mb-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "name@example.com" %>
      </div>

      <div class="field mb-3">
        <%= f.label :password, class: "form-label" %><br />
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <%# if devise_mapping.rememberable? %>
        <%# <div class="field"> %>
          <%#= f.check_box :remember_me %>
          <%#= f.label :remember_me %>
        <%# </div> %>
      <%# end %>

      <%# if notice %>
        <%# <p class="notice"> %>
          <%#= notice %>
        <%# </p> %>
      <%# end %>

      <% if alert %>
        <p class="user-error fs-8"><%= alert %></p>
      <% end %>

      <div class="actions w-100 d-flex justify-content-center">
        <%= f.submit "Log in", class: "user-button py-3" %>
      </div>
    <% end %>

    <div class="w-100 d-flex justify-content-center pt-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
