<div class="container-fluid vh-100 div-content">
    <div class="title show-cat d-flex flex-row">
        <%= render "form", category: @category, method: "Edit", class: "col" %>
        <%= link_to 'Cancel', category_path(@category.id), class: "btn btn-outline-secondary col py-3" %>
    </div>

    <% @category.errors.full_messages_for(:name).each do |message| %>
        <div class="error"><%= message %></div>
    <% end %>

    <%= link_to category_tasks_path(@category.id), class: "add-cat-link fs-3" do %>
        <div class="div-add-category">
            <% if @category.tasks.count <= 1 %>
                Show <%= @category.tasks.count %> Task
            <% else %>
                Show <%= @category.tasks.count %> Tasks
            <% end %>
        </div>
    <% end %>
</div>