<!DOCTYPE html>
<html>
  <head>
    <title>Task Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
      <% if user_signed_in? %>
        <div class="container-fluid">
          <div class="row vh-100">
            <div class="col-2 sidebar d-flex flex-column justify-content-between">
                <%= render "layouts/sidebar" %>
            </div>

            <div class="col div-content">
              <%= yield %>
            </div>
          </div>
        </div>
      <% else %>
        <%= yield%>
      <% end %>
  </body>
</html>